body {
  background-image: url(bgg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: rgba(114, 137, 166, 0.5);
  margin: auto;
  width: 500px;
  padding-left: 30px;
  border: 2px solid black;
  height: 350px;
  border-style: none;
  border-radius: 10px;
}

input[type="password"],
input[type="text"] {
  padding: 7px;
  width: 250px; /* Adjust width to make space for the icon */
  border-style: none;
  border-radius: 20px;
}

input[type="button"],
input[type="submit"] {
  color: black;
  border-style: none;
  background-color: rgb(238, 220, 220);
  text-align: center;
  padding: 7px;
  width: 100px;
  border-radius: 20px;
}

.pass-wrapper {
  position: relative;
  display: flex;
}

.toggle-pwd {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1.5rem;
  background-color: #fff;
  outline: none;
  border:none;
}

#toggle-pwd img {
  width: 20px;
  height: 20px;
  color: black;
}
