
      body {
        background-image: url(bgg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: pink; */
        font-family: Arial, sans-serif;
      }
      .container {
        text-align: center;
        background-color: rgba(114, 137, 166, 0.5);
        margin: auto;
        width: 500px;
        padding-left: 30;
        border: 2px solid black;
        height: 350px;
        border-style: none;
        border-radius: 10px;
      }
      input[type="password"] {
        padding: 7px;
        width: 270px;
        border-radius: 20px 20px 20px 20px;
        border-style: none;
      }
      input[type="text"] {
        padding: 7px;
        width: 270px;
        border-style: none;
        border-radius: 20px 20px 20px 20px;
      }
      
      input[type="button"] {
        color: black;
        border-style: none;
        background-color: rgb(238, 220, 220);
        text-align: center;
        padding: 7px;
        width: 100px;
        border-radius: 20px 20px 20px 20px;
      }
      input[type="submit"] {
        color: black;
        border-style: none;
        background-color: rgb(238, 220, 220);
        text-align: center;
        padding: 7px;
        width: 100px;
        border-radius: 20px 20px 20px 20px;
      }
    